details {
    width: 100%;
    font-family: var(--bc-preview-font-family, sans-serif);
}

summary {
    cursor: pointer;
    padding: 3px;
}

summary.error {
    color: var(--bc-preview-error, #791313);
}

.preview-pane {
    background-color: var(--bc-preview-background, #212020);
    color: var(--bc-preview-color, #40c64c);
    white-space: pre;
    font-size: 0.9em;
    overflow-x: auto;
    margin: 0;
    padding: 0.5em;
    border-bottom: 0.5px solid #cececec4;
    border-radius: 3px;
}
